.pack {
  --pack-border: solid 4px;
  border-top: var(--pack-border);
  border-bottom: var(--pack-border);
  @apply rounded-sm overflow-hidden border-slate-900 border-opacity-30;
  @apply text-zinc-800 text-4xl font-extrabold uppercase;
}

.pack[data-variant="Standard Pack"] {
  background: linear-gradient(to top left, #9a6e02, #dde073);
  @apply text-yellow-950;
}

.pack[data-variant="Elite Pack"] {
  @apply bg-red-600 text-red-900;
}
