.card_size {
  @apply w-28 h-40;
}

.card_border {
  @apply rounded-md border-4 border-zinc-800 shadow-lg;
}

.card {
  flex-shrink: 0;
}

.card[data-background="fire"] {
  @apply bg-red-400;
}

.card[data-background="water"] {
  @apply bg-sky-400;
}

.card[data-background="earth"] {
  @apply bg-green-400;
}

.card[data-background="air"] {
  @apply bg-purple-400;
}

.card[data-background="multi"] {
  @apply bg-yellow-400;
}

.card[data-background="neutral"] {
  @apply bg-slate-300;
}

.card_selectable {
  cursor: pointer;
  &:hover {
    filter: brightness(120%);
  }
}

.card_highlighted {
  animation: highlight-animation 1s infinite;
}

@keyframes highlight-animation {
  50% {
    filter: brightness(130%);
  }
}

.image_border {
  @apply w-full rounded-sm overflow-hidden;
}

.full_card_size {
  @apply w-72 h-96;
}

.full_card_border {
  @apply rounded-2xl overflow-hidden border-8 border-zinc-800 shadow-lg;
}

.full_image_border {
  @apply w-full rounded-xl overflow-hidden;
}

.cardText {
  @apply text-gray-950;
}

.cardPreviewText {
  font-size: 0.5rem;
}
