.gameBackground {
  background: linear-gradient(-45deg, #6c584c, #5d3c2a, #354f52, #457b9d);
  /* background-size: 400% 400%; */
  /* animation: gradient 15s ease infinite; */
}

/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
