.highlighted {
  animation: highlighted-animation 0.8s infinite;
}

.attack_color {
  @apply bg-red-400 shadow-xl;
}

.defend_color {
  @apply bg-cyan-400;
}

@keyframes highlighted-animation {
  0% {
    background-color: #13a947;
  }

  20% {
    background-color: #59e489;
  }

  100% {
    background-color: #13a947;
  }
}
