
.space {
  @apply relative w-36 h-44 flex justify-center items-center;
}

.space_selectable {
  &:hover {
    @apply border-2 border-rose-400 bg-slate-100 cursor-pointer;
  }
}

.space_highlighted {
  animation: highlight-animation 1s infinite;
}

@keyframes highlight-animation {
  50% {
    filter: brightness(120%)
  }
}

.space_defending {
  @apply z-20;
}

.space_animation_attack_start {
  > * {
    animation: attack_start 200ms ease-in;
  }
}

@keyframes attack_start {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-100px);
  }
}

.space_animation_attack_end {
  > * {
    animation: attack_end 200ms ease-out;
  }
}

@keyframes attack_end {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}

.space_attack_icon {
  @apply w-full h-full bg-opacity-40 bg-red-300;
  > svg {
    @apply stroke-neutral-900 fill-red-400 stroke-1;
  }
  &[data-direction="up"] {
    > svg {
      transform: rotate(-45deg);
    }
  }
  &[data-direction="down"] {
    > svg {
      transform: rotate(135deg);
    }
  }
}

.space_defend_icon {
  @apply w-full h-full bg-opacity-40 bg-cyan-300;
  > svg {
    @apply stroke-neutral-900 fill-cyan-300 stroke-1;
  }
  &[data-direction="up"] {
    > svg {
      transform: rotate(-45deg);
    }
  }
  &[data-direction="down"] {
    > svg {
      transform: rotate(135deg);
    }
  }
}

.space_faded {
  > * {
    filter: brightness(75%);
  }
}

@keyframes summoning-sickness-animation {
  0% {
    filter: brightness(70%)
  }
  50% {
    filter: brightness(50%)
  }
  100% {
    filter: brightness(70%)
  }
}

.space_overlay {
  @apply absolute z-20 w-full h-full pointer-events-none flex justify-center items-center;
}