.defend_line {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(220, 38, 38), rgba(0, 0, 0, 0));
  @apply absolute w-1 h-40 z-40;
  &[data-direction="up-left"] {
    @apply -top-20 left-0;
    transform: rotate(-45deg);
  }
  &[data-direction="up"] {
    @apply -top-20;
    transform: rotate(0deg);
  }
  &[data-direction="up-right"] {
    @apply -top-20 right-0;
    transform: rotate(45deg);
  }
  &[data-direction="down-left"] {
    @apply -bottom-20 left-0;
    transform: rotate(45deg);
  }
  &[data-direction="down"] {
    @apply -bottom-20;
    left: calc(50% - 0.125rem);
    transform: rotate(180deg);
  }
  &[data-direction="down-right"] {
    @apply -bottom-20 right-0;
    transform: rotate(-45deg);
  }
}