.duelCardOverlayLayer {
  @apply absolute -inset-0 z-20 pointer-events-none flex items-center justify-center overflow-hidden;
}

.duelCardStatusOverlayLayer {
  @apply absolute -inset-6 z-10;
}

.duelCardStatusOverlayLayer {
  background-size: 24px 24px;
  background-position: center;
  background-repeat: repeat;
  animation: status_overlay 2500ms infinite linear;
}

@keyframes status_overlay {
  0% {
    transform: translate(0px, 24px);
  }
  100% {
    transform: translate(24px, -24px);
  }
}

.duelCardStatusOverlayLayer[data-modifier-burn="true"] {
  @apply bg-red-700 bg-opacity-80 opacity-40;
  background-image: url("/icons/fire.svg");
}

.duelCardStatusOverlayLayer[data-modifier-stun="true"] {
  @apply bg-yellow-400 bg-opacity-90 opacity-30;
  background-image: url("/icons/lightning.svg");
}

.duelCardStatusOverlayLayer[data-modifier-poison="true"] {
  @apply bg-lime-600 bg-opacity-100 opacity-30;
  background-image: url("/icons/water.svg");
}

.duelCardOverlayLayer[data-animation-burn="true"] > .duelCardOverlayLayerDrawing {
  background: linear-gradient(to top right, #ff8e31, #ff1b1b);
  @apply rounded-full shadow-lg w-20 h-20;
  animation: burn var(--current-animation-duration);
}

@keyframes burn {
  0% {
    transform: rotate(0turn);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotate(0.99turn);
    opacity: 0;
  }
}

.duelCardOverlayLayer[data-animation-stun="true"] > .duelCardOverlayLayerDrawing {
  background: linear-gradient(to top right, #f0ff45, #fcdd32);

  @apply rounded-full shadow-lg w-20 h-20;
  animation: stun var(--current-animation-duration);
}

@keyframes stun {
  0% {
    transform: rotate(0turn);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotate(0.99turn);
    opacity: 0;
  }
}

.duelCardOverlayLayer[data-animation-roll-fail="true"] > .duelCardOverlayLayerDrawing {
  @apply bg-red-600 rounded-full shadow-lg w-20 h-20;
  animation: roll_fail var(--current-animation-duration);
}

@keyframes roll_fail {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0turn);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotate(0.99turn);
    opacity: 0;
  }
}

.duelCardOverlayLayer[data-animation-ember-foxling="true"] > .duelCardOverlayLayerDrawing {
  background: linear-gradient(to top right, #ff9f45, #ee502d);
  @apply rounded-full shadow-lg w-20 h-20;
  animation: spin var(--current-animation-duration);
}

.duelCardOverlayLayer[data-animation-cave-swimmer="true"] > .duelCardOverlayLayerDrawing {
  background: linear-gradient(to top right, #31a7d9, #2bd1ff);
  @apply rounded-full shadow-lg w-20 h-20;
  animation: spin var(--current-animation-duration);
}

.duelCardOverlayLayer[data-animation-flame-sentinel="true"] > .duelCardOverlayLayerDrawing {
  background: linear-gradient(to top right, #ff9f45, #ee502d);
  @apply rounded-full shadow-lg w-20 h-20;
  animation: spin var(--current-animation-duration);
}

.duelCardOverlayLayer[data-animation-brash-splasher="true"] > .duelCardOverlayLayerDrawing {
  background: linear-gradient(to top right, #31a7d9, #2bd1ff);
  @apply rounded-full shadow-lg w-20 h-20;
  animation: spin var(--current-animation-duration);
}

.duelCardOverlayLayer[data-animation-flame-sentinel="true"] > .duelCardOverlayLayerDrawing {
  background: linear-gradient(to top right, #ff9f45, #ee502d);
  @apply rounded-full shadow-lg w-20 h-20;
  animation: spin var(--current-animation-duration);
}
