.playArea {
  width: 1000px;
  @apply p-1 rounded-sm bg-stone-500 flex flex-col gap-1 relative;
}

.playAreaDropTarget {
  @apply absolute inset-0 z-20;
}

.playAreaDropTarget[data-selectable="false"],
.rowHalfDropTarget[data-selectable="false"] {
  @apply h-0;
}

.playAreaDropTarget[data-highlighted="true"][data-dragging-over="false"],
.rowHalfDropTarget[data-highlighted="true"][data-dragging-over="false"] {
  animation: highlight-animation 1s infinite;
}

.playAreaDropTarget[data-dragging-over="true"][data-selectable="true"],
.rowHalfDropTarget[data-dragging-over="true"][data-selectable="true"] {
  @apply bg-sky-200 opacity-40;
  filter: blur(1px) brightness(105%);
}

.row {
  @apply flex gap-1 bg-opacity-50;
}

.rowHalf {
  width: 80rem;
  @apply h-48 bg-slate-800 bg-opacity-20 shadow-sm flex flex-row rounded-lg p-1 gap-1 items-center relative;
}

.rowHumanHalf {
  @apply flex-row-reverse;
}

.rowHalfDropTarget {
  @apply absolute inset-0;
}

@keyframes highlight-animation {
  0% {
    @apply bg-amber-100 opacity-5;
  }
  50% {
    @apply bg-amber-100 opacity-20;
  }
  100% {
    @apply bg-amber-100 opacity-5;
  }
}
