.humanPlayArea {
  grid-row: 2;
  grid-column: 1 / 8;
}

.opponentPlayArea {
  grid-row: 1;
  grid-column: 1 / 8;
}

.humanPlayArea[data-highlighted="true"],
.opponentPlayArea[data-highlighted="true"] {
  animation: highlight-animation 1s infinite;
}

.humanPlayArea[data-dragging-over="true"][data-selectable="true"] {
  @apply border-2 border-rose-400 bg-slate-100 cursor-pointer;
}

@keyframes highlight-animation {
  50% {
    filter: brightness(120%);
  }
}

.humanCreatureArea {
  grid-row: 2;
  grid-column: 1 / 5;
}

.opponentCreatureArea {
  grid-row: 1;
  grid-column: 4 / 8;
}
