.humanPlayArea {
  grid-row: 2;
  grid-column: 1 / 8;
}

.opponentPlayArea {
  grid-row: 1;
  grid-column: 1 / 8;
}

.humanPlayArea,
.opponentPlayArea {
  @apply bg-stone-300;
}

.humanPlayArea[data-highlighted="true"][data-dragging-over="false"],
.opponentPlayArea[data-highlighted="true"][data-dragging-over="false"] {
  animation: highlight-animation 1s infinite;
}

.humanPlayArea[data-dragging-over="true"][data-selectable="true"],
.opponentPlayArea[data-dragging-over="true"][data-selectable="true"] {
  @apply bg-sky-200;
  filter: blur(1px) brightness(105%);
}

@keyframes highlight-animation {
  50% {
    @apply bg-stone-100;
  }
}

.humanCreatureArea {
  grid-row: 2;
  grid-column: 1 / 5;
}

.opponentCreatureArea {
  grid-row: 1;
  grid-column: 4 / 8;
}
