.player_health_positioning {
  @apply absolute -top-2 left-1/2 -translate-x-1/2;
}

.animated_health_value {
  @apply absolute right-0 -bottom-3 text-red-500 font-bold;
  animation: health_update 1000ms forwards;
}

@keyframes health_update {
  0% {
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}

.shaking {
  animation: shaking_animation 50ms ease-in alternate infinite;
}
@keyframes shaking_animation {
  0% {
  }
  100% {
    transform: translate(3px, 3px);
  }
}

.energyRow {
  @apply w-full flex flex-row flex-wrap items-center gap-1 p-2;
}

.energyRow[data-animation-energy-added-toggle="true"],
.energyRow[data-animation-energy-added-toggle="false"] {
  animation: energy_added_animation 800ms ease-in-out;
}

@keyframes energy_added_animation {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
