.bar {
  @apply absolute inset-0 -left-0.5 -right-0.5 border-t border-b border-neutral-900;
}

.orb {
  @apply w-4 h-4 rounded-full shadow-sm border border-neutral-900;
}

.lit {
  @apply bg-amber-400;
}

.unlit {
  @apply bg-stone-800;
}

.main_phase_icon {
  position: absolute;
  bottom: calc(100% + 0.5rem);
  left: 50%;
  transform: translate(-50%);
  

  @apply w-6 h-8 rounded-sm bg-stone-800 border border-stone-800;

  &[data-lit="true"] {
    @apply bg-amber-400
  }
}

.attack_phase_icon {
  position: absolute;
  bottom: calc(100%);
  left: 50%;
  transform: translate(-50%);

  @apply w-12 h-16;

  > svg {
    transform: rotate(-45deg);
    @apply fill-stone-800 stroke-stone-800
  }
  &[data-lit="true"] {
    > svg {
      @apply fill-amber-400
    }
  }
}